<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Ammarnas Images</title>
</head>
<body>
    <form method="post">
        <h3>Image Title</h3>
        <textarea type="text" placeholder="Image Title" name="title" rows="10" cols="40"></textarea>
        <h3>Select Image</h3>
        <h2 class="warn">Warning: make sure to upload image without brackets '()' & space ' ' in name</h2>
        <input type="file" name="img">

        <input type="submit" value="Post" class="btn">
    </form>
</body>
</html>